article
  time
    :font-weight bold
  p
    :margin 10px 0
    :color #000
  .date, .by
    :font-size 13px
    time, div
      :display inline
      :color #000
      :font-weight bold
  .details
    span
      :color #666
.articles, .reviews, .interviews
  ol
    :margin-right -20px
  li
    :display inline-block
    :margin-bottom 40px
    :margin-right 20px
    &:nth-child(2n)
      :margin-right 0
    article
      :width 460px
    header, .content
      :display inline-block
      :vertical-align top
      :position relative
    .content
      :width 315px

.news
  ol
    :margin-right -20px
  li
    :display inline-block
    :vertical-align top
    :width 300px
    :margin-right 16px
    :margin-bottom 40px
    h3
      :font-size 26px
      :line-height 105%
    article
      :border-right 4px solid #666
      :padding-right 10px
      :height 150px
      span
        :display block
    &:hover
      article
        :border-right 4px solid #000

.articles, .comics, .tv, .movies, .games, .reviews, .interviews
  li
    article
      :width 620px
      :border-bottom 1px solid #999
      :padding-bottom 30px
      header
        .cover
          :width 140px
          :height auto
      .content
        :width 440px
        :margin-left 5px
        :font-size 14px
        .details
          :font-size 14px
          :color #555

.reviews
  li
    article
      header
        .cover
          :width 160px
          :height auto
      .content
        :width 420px
.archive
  li
    :margin-bottom 40px
