@import url(../fonts/molot/stylesheet.css);
@import url(../fonts/rodchenko/stylesheet.css);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*[class*="col-"] {
  margin: 0 10px;
  float: left; }

.grid {
  width: 960px;
  margin: 0 auto; }
  .grid .col-1 {
    width: 60px; }
  .grid .col-2 {
    width: 140px; }
  .grid .col-3 {
    width: 220px; }
  .grid .col-4 {
    width: 300px; }
  .grid .col-5 {
    width: 380px; }
  .grid .col-6 {
    width: 460px; }
  .grid .col-7 {
    width: 540px; }
  .grid .col-8 {
    width: 620px; }
  .grid .col-9 {
    width: 700px; }
  .grid .col-10 {
    width: 780px; }
  .grid .col-11 {
    width: 860px; }
  .grid .col-12 {
    width: 940px; }
  .grid .pos-1 {
    margin-left: 80px; }
  .grid .pos-2 {
    margin-left: 160px; }
  .grid .pos-3 {
    margin-left: 240px; }
  .grid .pos-4 {
    margin-left: 320px; }
  .grid .pos-5 {
    margin-left: 400px; }
  .grid .pos-6 {
    margin-left: 480px; }
  .grid .pos-7 {
    margin-left: 560px; }
  .grid .pos-8 {
    margin-left: 640px; }
  .grid .pos-9 {
    margin-left: 720px; }
  .grid .pos-10 {
    margin-left: 800px; }
  .grid .pos-11 {
    margin-left: 880px; }
  .grid .row {
    margin: 20px 0; }
    .grid .row:after {
      clear: both;
      content: ".";
      display: block;
      visibility: hidden;
      font-size: 0;
      height: 0; }

.hide {
  display: none; }

body {
  font-size: 14px; }

h1,
h2,
h3 {
  font-size: 23px;
  font-family: "Rodchenko";
  color: #a72011; }

h1 {
  font-size: 46px;
  margin: 20px 0;
  line-height: 100%; }

body {
  color: #444444;
  font-family: "Helvetica Neue", Helvetica, Arial, Tahoma, Verdana, sans-serif; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

strong {
  font-weight: bold; }

.l-header {
  background: black;
  padding: 20px 0; }
  .l-header .row {
    margin: 0; }

.l-nav {
  background: #303030;
  font-size: 12px; }
  .l-nav .row {
    margin: 0; }
  .l-nav ul li {
    display: inline-block; }
    .l-nav ul li a {
      color: #cccccc;
      text-transform: uppercase;
      display: block; }
      .l-nav ul li a.active {
        background: #222222; }
  .l-nav .nav li {
    margin: 0 3px; }
    .l-nav .nav li a {
      padding: 13px 5px 14px; }
  .l-nav .nav > li ul, .l-nav .nav > li ol {
    position: absolute;
    background: #303030;
    padding: 10px;
    border-top: none;
    margin-left: 5px;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 600; }
    .l-nav .nav > li ul li, .l-nav .nav > li ol li {
      display: block;
      margin: 0; }
      .l-nav .nav > li ul li a, .l-nav .nav > li ol li a {
        font-size: 11px;
        padding: 8px;
        border-bottom: 1px solid #252525; }
        .l-nav .nav > li ul li a:hover, .l-nav .nav > li ol li a:hover {
          color: white; }
  .l-nav .nav > li:hover ul, .l-nav .nav > li:hover ol {
    max-height: 2000px;
    visibility: visible;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; }

.social-links {
  font-size: 0;
  text-align: right;
  height: 18px;
  margin-top: 9px; }
  .social-links li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 9px; }
    .social-links li:last-child {
      margin-right: 0; }
    .social-links li:first-child {
      margin-left: 0; }
  .social-links a {
    width: 20px;
    height: 20px;
    text-indent: -999px;
    overflow: hidden;
    background: #444444;
    padding: 0;
    display: block;
    background: url(/static/images/social_icons.png); }
    .social-links a.fb {
      background-position: 0 -29px; }
    .social-links a.tw {
      background-position: 0 -60px; }
    .social-links a.tb {
      background-position: 0 -89px; }

.l-content {
  line-height: 1.5em; }
  .l-content a {
    color: #961d0f; }

.l-footer {
  background: black;
  padding: 20px 0;
  min-height: 380px; }
  .l-footer a {
    color: #a72011; }
  .l-footer .logo {
    display: block;
    background: url(/static/images/comicsbulletin_logo_header.png) no-repeat;
    width: 276px;
    height: 42px;
    text-indent: -999px; }
  .l-footer .top {
    text-align: right; }
  .l-footer nav li {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px; }
    .l-footer nav li a {
      color: #dddddd;
      line-height: 30px;
      font-size: 11px; }
  .l-footer .columns ul {
    margin-right: -40px;
    font-size: 0; }
  .l-footer .columns li {
    display: inline-block;
    width: 220px;
    height: 25px;
    margin-right: 20px;
    font-size: 13px; }
  .l-footer .columns li:nth-child(4n) {
    margin-right: 0; }
  .l-footer .attribution {
    color: white; }
    .l-footer .attribution .credits {
      text-align: right; }

article time {
  font-weight: bold; }
article p {
  margin: 10px 0;
  color: black; }
article .date, article .by {
  font-size: 13px; }
  article .date time, article .date div, article .by time, article .by div {
    display: inline;
    color: black;
    font-weight: bold; }
article .details {
  font-size: 12px;
  color: #443333; }

.articles ol, .reviews ol, .interviews ol {
  margin-right: -20px; }
.articles li, .reviews li, .interviews li {
  display: inline-block;
  margin-bottom: 40px;
  margin-right: 20px; }
  .articles li:nth-child(2n), .reviews li:nth-child(2n), .interviews li:nth-child(2n) {
    margin-right: 0; }
  .articles li article, .reviews li article, .interviews li article {
    width: 460px; }
  .articles li header, .articles li .content, .reviews li header, .reviews li .content, .interviews li header, .interviews li .content {
    display: inline-block;
    vertical-align: top;
    position: relative; }
  .articles li .content, .reviews li .content, .interviews li .content {
    width: 315px; }

.home .news ol {
  margin-right: -20px; }
.home .news li {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin-right: 16px;
  margin-bottom: 40px; }
  .home .news li h3 {
    font-size: 26px;
    line-height: 105%; }
  .home .news li article {
    border-right: 4px solid #666666;
    padding-right: 10px;
    height: 150px; }
    .home .news li article span {
      display: block; }
  .home .news li:hover article {
    border-right: 4px solid black; }

.articles li, .comics li, .tv li, .movies li, .games li, .reviews li, .interviews li {
  margin-bottom: 5px; }
  .articles li article, .comics li article, .tv li article, .movies li article, .games li article, .reviews li article, .interviews li article {
    width: 620px;
    border-bottom: 1px solid #999999; }
    .articles li article header .cover, .comics li article header .cover, .tv li article header .cover, .movies li article header .cover, .games li article header .cover, .reviews li article header .cover, .interviews li article header .cover {
      max-width: 140px;
      width: auto;
      height: auto;
      max-height: 300px; }
    .articles li article .content, .comics li article .content, .tv li article .content, .movies li article .content, .games li article .content, .reviews li article .content, .interviews li article .content {
      width: 440px;
      margin-left: 5px;
      font-size: 14px; }
      .articles li article .content .details span, .comics li article .content .details span, .tv li article .content .details span, .movies li article .content .details span, .games li article .content .details span, .reviews li article .content .details span, .interviews li article .content .details span {
        display: block; }

.reviews li article header .cover {
  width: 160px;
  height: auto; }
.reviews li article .content {
  width: 420px; }

.archive li {
  margin-bottom: 40px; }

section.featured {
  height: 380px;
  color: white;
  background: #7f1212;
  position: relative;
  overflow: hidden; }
  section.featured > .container {
    width: 940px;
    margin: 0 auto;
    position: relative; }
    section.featured > .container .story-box {
      position: absolute;
      display: block;
      background: #7f1212;
      padding: 40px;
      padding-right: 0;
      left: 400px;
      right: 0;
      height: 300px;
      z-index: 50; }
    section.featured > .container .total {
      position: absolute;
      background: #cccccc;
      height: 5px;
      width: 100%;
      left: 0;
      bottom: 0; }
      section.featured > .container .total .progress {
        background: black;
        height: 5px;
        display: block; }
  section.featured ol {
    background: black;
    padding: 20px 0;
    height: 340px; }
    section.featured ol li a {
      color: white;
      font-size: 25px;
      padding: 10px;
      display: block; }
      section.featured ol li a:hover {
        color: #cccccc;
        text-decoration: none; }
    section.featured ol li .title {
      width: 400px; }
    section.featured ol li .story {
      -webkit-transition: right 800ms ease;
      -moz-transition: right 800ms ease;
      -ms-transition: right 800ms ease;
      -o-transition: right 800ms ease;
      transition: right 800ms ease;
      position: absolute;
      right: -6000px;
      z-index: 100;
      top: 40px;
      max-width: 500px; }
      section.featured ol li .story .image img {
        max-width: 500px;
        max-height: 260px; }
    section.featured ol li.active .title {
      background: #7f1212; }
      section.featured ol li.active .title a {
        color: black; }
    section.featured ol li.active .story {
      -webkit-transition: right 800ms ease;
      -moz-transition: right 800ms ease;
      -ms-transition: right 800ms ease;
      -o-transition: right 800ms ease;
      transition: right 800ms ease;
      right: 0px; }

.reviews header .rating {
  background: rgba(255, 255, 255, 0.9);
  display: block;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
  text-align: center; }
  .reviews header .rating img {
    margin: auto auto;
    top: 50%;
    left: 50%;
    display: block;
    position: absolute;
    margin-left: -45px;
    margin-top: -10px; }
.reviews header:hover .rating {
  opacity: 1;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease; }

.sidebar {
  font-size: 12px; }
  .sidebar a {
    color: #440000; }
  .sidebar .section {
    margin-top: 20px; }
  .sidebar .section > h3 {
    color: black;
    border-top: 5px solid black;
    margin-bottom: 10px;
    padding-top: 4px; }

.topstories li {
  border-top: 3px solid #a3a3a3;
  margin: 0 10px 20px 10px;
  padding-top: 20px;
  display: inline-block;
  vertical-align: top; }
  .topstories li .content {
    margin-top: 5px; }
  .topstories li:nth-child(2n) {
    margin-right: 0; }
  .topstories li:after {
    clear: both;
    content: ".";
    display: block;
    visibility: hidden;
    font-size: 0;
    height: 0; }
  .topstories li > a img, .topstories li article {
    display: inline-block;
    vertical-align: top; }
  .topstories li > a img {
    width: 140px;
    height: auto;
    max-height: 240px; }
  .topstories li article {
    width: 300px;
    padding-left: 20px;
    margin-left: -4px; }
    .topstories li article .details {
      margin: 5px 0;
      line-height: 18px;
      font-size: 12px;
      color: #2d2d2d; }
      .topstories li article .details span {
        display: block; }
    .topstories li article p {
      font-size: 12px; }

.secondary .columns {
  margin-top: 20px; }
  .secondary .columns li {
    margin-bottom: 80px; }
    .secondary .columns li article {
      position: relative;
      width: 300px;
      height: 300px;
      overflow: hidden; }
      .secondary .columns li article .cover {
        background-position: center center;
        background-size: cover;
        width: 300px;
        height: 300px; }
      .secondary .columns li article > div {
        width: 100%;
        background: white;
        padding-top: 10px;
        position: absolute;
        bottom: 0;
        height: auto;
        -webkit-transition: all 400ms ease;
        -moz-transition: all 400ms ease;
        -ms-transition: all 400ms ease;
        -o-transition: all 400ms ease;
        transition: all 400ms ease; }
        .secondary .columns li article > div span {
          position: static;
          margin-top: 20px;
          display: block; }
      .secondary .columns li article:hover > div {
        bottom: -100%;
        -webkit-transition: all 400ms ease;
        -moz-transition: all 400ms ease;
        -ms-transition: all 400ms ease;
        -o-transition: all 400ms ease;
        transition: all 400ms ease; }
    .secondary .columns li a {
      font-size: 22px;
      font-weight: normal; }
    .secondary .columns li div {
      border-left: 4px solid #961d0f;
      padding-left: 4px;
      height: 120px;
      position: relative;
      font-weight: bold;
      color: black; }
      .secondary .columns li div span {
        position: absolute;
        bottom: 0; }
      .secondary .columns li div cite {
        font-weight: normal; }
.secondary .reviews header {
  display: block;
  height: 160px;
  margin-bottom: 20px;
  background-position: center top;
  background-size: cover; }
.secondary .reviews article {
  width: 300px; }
  .secondary .reviews article .content {
    width: auto;
    height: 130px; }
.secondary .interviews article {
  width: 440px;
  height: 180px; }
.secondary .interviews header img {
  width: 120px;
  height: auto; }
.secondary .interviews .content {
  width: 300px;
  overflow: hidden; }

.community header {
  border-top: 5px solid black;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  margin-bottom: 20px; }
.community div {
  display: inline-block;
  vertical-align: top;
  width: 390px;
  margin-left: 4px; }
.community p {
  display: inline;
  padding-left: 5px; }
.community em {
  font-style: italic;
  font-weight: bold; }
.community li {
  margin-top: 20px; }
.community .comment > a {
  font-size: 11px;
  display: block; }
.community .dsq-widget-meta {
  display: block; }

#page-article .sidebar .details {
  margin-bottom: 20px; }
#page-article .sidebar .dsq-comments {
  margin-top: 20px; }
#page-article .sidebar .cover-image {
  max-width: 300px;
  height: auto;
  border: 1px solid #bbbbbb; }
#page-article .sidebar .review div {
  background: #e5e5e5;
  padding: 20px;
  font-size: 60px;
  text-align: center; }
  #page-article .sidebar .review div .score {
    color: #a72011;
    font-weight: bold;
    line-height: 120%; }
#page-article .main .story {
  border-bottom: 1px solid #999999;
  margin-bottom: 40px;
  padding-bottom: 20px; }
  #page-article .main .story img {
    max-width: 600px;
    height: auto; }
#page-article .main .comments > h2 {
  font-size: 36px; }
#page-article .main .type {
  font-style: italic; }

#page-columns .columns header {
  height: 120px; }
#page-columns .columns .logo {
  max-height: 120px;
  max-width: 300px;
  width: auto;
  height: auto; }
#page-columns .columns li {
  margin-bottom: 40px;
  text-align: center; }

#page-news .news li {
  display: block;
  border-left: 5px solid #444444;
  margin-bototm: 0;
  padding: 10px 0px 20px 20px; }
  #page-news .news li:hover {
    border-left: 5px solid black;
    background: #961d0f;
    color: white; }
    #page-news .news li:hover h2, #page-news .news li:hover a {
      color: white; }
    #page-news .news li:hover .details {
      color: #e0e0e0; }
  #page-news .news li h2 {
    font-size: 40px;
    line-height: 90%; }
  #page-news .news li img {
    width: 120px;
    height: auto;
    display: none; }

#page-archives .year {
  margin-bottom: 40px; }
#page-archives .months li {
  display: inline-block;
  width: 160px;
  height: 30px;
  line-height: 30px;
  margin: 12px 5px; }
  #page-archives .months li span {
    float: right; }
  #page-archives .months li a {
    color: black;
    text-decoration: none;
    display: block;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #e5e5e5;
    padding: 5px 10px; }
    #page-archives .months li a:hover {
      background: #a72011;
      color: white; }

#page-archive .archive li {
  display: inline-block;
  width: 420px;
  margin-right: 20px;
  vertical-align: top; }

.l-header .search {
  text-align: right; }
  .l-header .search input {
    color: white;
    padding: 15px; }
    .l-header .search input[type="text"] {
      background: #474747;
      -moz-border-radius-topleft: 10px;
      -moz-border-radius-topright: 0;
      -moz-border-radius-bottomright: 0;
      -moz-border-radius-bottomleft: 10px;
      -webkit-border-radius: 10px 0px 0px 10px;
      border-radius: 10px 0px 0px 10px;
      border: none;
      width: 70px;
      -webkit-transition: width 500ms ease;
      -moz-transition: width 500ms ease;
      -ms-transition: width 500ms ease;
      -o-transition: width 500ms ease;
      transition: width 500ms ease; }
      .l-header .search input[type="text"]:focus {
        width: 150px; }
    .l-header .search input[type="submit"] {
      border: none;
      margin-left: -5px;
      background: #6c150a url(/static/images/search.png) no-repeat center center;
      width: 40px;
      text-indent: -999px;
      -moz-border-radius-topleft: 0;
      -moz-border-radius-topright: 10px;
      -moz-border-radius-bottomright: 10px;
      -moz-border-radius-bottomleft: 0;
      -webkit-border-radius: 0 10px 10px 0;
      border-radius: 0 10px 10px 0; }

.tabs nav {
  background: #7f1212; }
  .tabs nav li {
    display: inline-block;
    margin-left: 5px;
    color: white;
    border-top: 4px solid #7f1212; }
    .tabs nav li a {
      color: white;
      padding: 10px 5px;
      display: block; }
    .tabs nav li.active {
      border-top: 4px solid #dddddd; }
      .tabs nav li.active a {
        background: white;
        color: black; }
    .tabs nav li:hover {
      background: #e5e5e5;
      border-top: 4px solid #e5e5e5; }
      .tabs nav li:hover a {
        color: #444444; }
.tabs .header {
  margin-bottom: 20px; }
  .tabs .header a {
    color: #606060;
    font-size: 12px; }
    .tabs .header a:last-child {
      float: right; }
.tabs section {
  display: none; }
  .tabs section.active {
    display: block; }

.pagination {
  text-align: right;
  margin: 20px 0; }
  .pagination li {
    display: inline-block; }
    .pagination li a.active {
      font-weight: bold;
      color: black; }
    .pagination li a span {
      font-family: "Courier New", Courier, monospace;
      font-size: 14px;
      font-weight: bold; }
    .pagination li a.last span, .pagination li a.first span {
      letter-spacing: -3px; }
